@import '../colors';

:local(.root) {
  width: 410px;
}

:local(.search) {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em;
  font-family: inherit;
  font-size: 1em;
  background-color: $color-secondary;
  border: 2px solid $color-secondary;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  &::placeholder {
    color: $color-tertiary;
  }

  &:focus {
    border-color: $color-focus;
    outline: none;
  }
}

:local(.grid) {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 70px);
  box-sizing: border-box;
  height: 250px;
  padding: 10px;
  overflow-y: scroll;
}
