@import '../colors';
@import '../fonts';

.game-of-thrones-bingo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Mukta', Helvetica, sans-serif;
  font-weight: 200;
  align-items: center;
  justify-content: center;
  background-color: $color-background;
  color: $color-primary;
}

.game-of-thrones-bingo-title,
.game-of-thrones-bingo-subtitle {
  margin-top: 0;
  font-family: 'Game of Thrones', 'Times New Roman', serif;
  font-weight: normal;
  text-align: center;
  word-spacing: 10px;
}

.game-of-thrones-bingo-title {
  font-size: 2em;
}

.game-of-thrones-bingo-subtitle {
  color: $color-secondary;
  font-size: 1em;
}

.game-of-thrones-bingo button {
  cursor: pointer;
  font-family: inherit;
  font-weight: inherit;
  color: $color-secondary;
  background-color: $color-accent;
  padding: 0.25em 1.25em;
  border-width: 0;
  border-radius: 1em;
  box-shadow: 0 0 16px $color-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-duration: 0.3s;

  &:hover, &:active {
    background-color: $color-accent-hard;
    color: $color-primary;
    box-shadow: 0 0 16px $color-box-shadow-dark;
  }

  &:focus {
    outline: none;
  }
}
