@import '../colors';

:local(.search) {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em;
  font-family: inherit;
  font-size: 1em;
  background-color: $color-secondary;
  border: 2px solid $color-secondary;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  &::placeholder {
    color: $color-tertiary;
  }

  &:focus {
    border-color: $color-focus;
    outline: none;
  }
}
